:root {
    --form-color: #987;
}

* {
    user-select: none;
    box-sizing: border-box;
    font-family: sans-serif;
}

h1 {
    text-align: center;
    color: var(--form-color);
}

.form-container {
    text-align: center;
}

.email.container {
    position: relative;
}

label {
    position: absolute;
    color: var(--form-color);
    z-index: 1;
    font-size: .7rem;
    top: -.5rem;
    margin-left: .4rem;
    padding: 0 .2rem 0 .2rem;
    background-color: white;

}

#email {
    position: relative;
}

fieldset {
    margin: 0 20%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    color: var(--form-color);
    border-radius: .3rem;
    font-weight: bold;
    font-family: sans-serif;
}

.container {
    position: relative;
    margin-top: 1rem;
}