:root {
    --form-color: #987;
    --error-container-background: #900;
}

* {
    user-select: none;
    box-sizing: border-box;
    font-family: sans-serif;
}

h3 {
    text-align: center;
    color: var(--form-color);
}

.form-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    border: .01px solid rgba(212, 212, 209, 0.9);
    border-radius: .5rem;
    margin: 2% 10%;
    background-color: #ffe;
}

form {
    text-align: center;
}

.email.container {
    position: relative;
}

label {
    position: absolute;
    color: var(--form-color);
    z-index: 1;
    font-size: .7rem;
    top: -.5rem;
    margin-left: .4rem;
    padding: 0 .2rem 0 .2rem;
    background-color: white;

}

#email {
    position: relative;
}

fieldset {
    margin: 0 2%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    color: var(--form-color);
    border-radius: .3rem;
    font-weight: bold;
    font-family: sans-serif;
}

.container {
    position: relative;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
}

input {
    padding: .2rem;
    opacity: .4;
    width: 10rem;
}

input:focus {
    border: 1px solid #55f;
    outline: none;
    opacity: 1;
    color: var(--form-color);
}

input:valid {
    border: 2px solid green;
    outline: none;
}

input:invalid {
    border: 2px solid var(--error-container-background);
}

input:invalid>span {
    padding: 0;
}

.message {
    color: #efe;
    background-color: var(--error-container-background);
    font-size: .6rem;
    width: 10rem;
}

button {
    margin: 1rem 0;
    font-family: sans-serif;
    font-weight: bold;
    color: var(--form-color);
}